.header__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  background-color: black;
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1234px;
  padding: 0 10px;
  background-color: black;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.navList {
  display: flex;
  gap: 32px;
  @media (max-width: 768px) {
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
    padding: 0 34px;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background-color: black;
    align-items: end;
  }
}

.navItem {
  list-style-type: none;
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
}

.contact {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 11px 13px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
}

.mobileBurgerButton {
  display: none;
  @media (max-width: 768px) {
    display: block;
    cursor: pointer;
  }
}

.mobileBurgerButton div {
  width: 23px;
  height: 2px;
  border-radius: 2px;
  margin: 5px;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.openedMobileNavbar {
  @media (max-width: 768px) {
    height: 300px;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: height 0.3s ease;
  }
}

.nav__active {
  opacity: 1;
  display: flex;
  transition: 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(0px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -10px);
}
