.footer__container {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__content {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  padding-top: 56px;
  width: 192px;
}

.social__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1236px;
  padding-top: 32px;
}

.social__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.social {
  width: 410px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .__container {
    width: 1200px;
}
/* .footer__text {
  font-size: 33px;
} */
}

@media (min-width: 992px) and (max-width: 1279px) {
  .__container {
    width: 960px;
}
.footer__logo {
  padding-top: 39px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .__container {
    width: 750px;
}
.footer__logo {
  padding-top: 30px;
}
.social__footer {
  flex-direction: column-reverse;
  padding-top: 22px;
}
.social__text {
  padding-top: 15px;
}
}
@media (min-width: 480px) and (max-width: 767px) {
  .__container {
    width: 470px;
}

  .footer__logo {
    padding-top: 5px;
  }

  .social__footer {
    flex-direction: column-reverse;
    padding-top: 22px;
  }
  .social__text {
    padding-top: 15px;
  }

}
@media (min-width: 350px) and (max-width: 479px) {
  .__container {
    width: 343px;
}

  .footer__logo {
    padding-top: 5px;
  }

  .social {
    width: 330px;
  }
  .social__footer {
    flex-direction: column-reverse;
    padding-top: 22px;
  }
  .social__text {
    padding-top: 15px;
    font-size: 14px;
  }
}