.container {
  position: relative;
}
@keyframes changeBackgroundColor {
  0% {
    background-color: rgba(0, 0, 255, 0.369);
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: rgb(224, 83, 118);
  }
  100% {
    background-color: coral;
  }
}

.cursor {
  position: absolute;
  width: 70px;
  height: 70px;
  pointer-events: none;
  mix-blend-mode: difference;
  animation: changeBackgroundColor 7s infinite;
  filter: blur(10px);
  opacity: 0.4;
  border-radius: 50%;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.square:hover{
  transition-duration: 0s;
}
.__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.project__bloc {
  background-image: url("../../../../../public/animations/proj.webm");
  padding: 80px 0;
}
.projects {
  background-color: black;
}

.title__projects {
    text-align: center;
  margin: 0 auto;
  width: 308px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}


@media (min-width: 1280px) and (max-width: 1440px) {
  .title__projects {
}
}
@media (min-width: 992px) and (max-width: 1279px) {
  .title__projects {
  font-size: 46px;
  line-height: 40px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .title__projects {
    font-size: 47px;
  line-height: 40px;

}
}
@media (min-width: 480px) and (max-width: 767px) {
  .title__projects {
    padding-top:50px;
  font-size: 40px;
  line-height: 59px;

}
}
@media (min-width: 350px) and (max-width: 479px) {
  .title__projects {
   padding-top: 0;
   font-size: 30px;
}
.project__bloc{
height: 500px;

}

.projects {
  background-color: black;
  height: 716px;
}
}
@media (max-width: 320px) {
}

